.leftpanel {
    align-self: flex-end;
    animation-duration: 0.5s;
    
    background-color: rgb(34, 34, 34);
    height: 10000px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 300px;
    animation-name: leftpanelani;
    animation-timing-function: ease;
    position: fixed;
    left: -360px;
    animation-fill-mode: forwards;
}
@keyframes leftpanelani {
    0%   { transform: translateX(0); }
    100% { transform: translateX(360px); }
}

@keyframes mainani {
    0%   { transform: translateX(0px); }
    100% { transform: translateX(342px); }
}

.main {
    left:-342px;
    animation-duration: 0.5s;
    animation-name: mainani;
    animation-timing-function: ease;
    position: fixed;
    animation-fill-mode: forwards;
}

.leftpanel_search_div input {
    width: 220px;
    height: 40px;
    background-color: rgb(58,58,58);
    border: none;
}

.leftpanel_search_div input:active {
    outline: none;
    background-color: rgb(235,235,235);
}

.leftpanel_search_div input:focus {
    outline: none;
    background-color: rgb(235,235,235);
}

#searchbtn {
    width: 40px;
    height: 40px;
    background-image: url(searchbtn_na.png);
}

.leftpanel_search_div:focus  #searchbtn {
    background-image: url(searchbtn.png);
}